        body {
            background-color: black;
            color: white;
        }

        .timedate {
            padding-bottom: 1rem;
        }

        .icon {
            font-size: 4.8rem;
        }

        i {
            font-size: 3rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .main-temp {
            font-size: 6rem;
            line-height: 4.3rem;

        }

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .raindrop {
            font-size: 1rem;
            line-height: 0;
        }
        .capitalize::first-letter {
            text-transform: capitalize
        }
        #date {
            text-transform: capitalize
        }