<!DOCTYPE html>
<html>

<head>
    <title>WeatherApp</title>
    <!-- bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='moment-with-locales.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- weather icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css"
        crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

</head>

<body>
    <div class="mx-auto timedate">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-1 text-center" id="time"></h1>
                </div>
                <div class="col-12">
                    <h1 class="display-4 text-center" id="date">Wtorek, 25 Sty.</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">

        <div class="row">
            <div class="col-3 main-temp">
                <span id="currentTemp">13</span><span>&#176;</span>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 capitalize" id="day1Date">Pon 21</div>
                    <div class="col-12"><i class="weatherIcon" id="day1WeatherIcon"></i></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 capitalize" id="day2Date">Pon 21</div>
                    <div class="col-12"><i class="weatherIcon" id="day2WeatherIcon"></i></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 capitalize" id="day3Date">Pon 21</div>
                    <div class="col-12"><i class="weatherIcon" id="day3WeatherIcon"></i></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 capitalize" id="day4Date">Pon 21</div>
                    <div class="col-12"><i class="weatherIcon" id="day4WeatherIcon"></i></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 capitalize" id="day5Date">Pon 21</div>
                    <div class="col-12"><i class="weatherIcon" id="day5WeatherIcon"></i></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3"><h2 id="currentWeather" class="capitalize">Lekkie zachmurzenie</h2></div>
            <div class="col"><h2><span id="day1MinTemp">13</span><span>&#176;</span> / <span id="day1MaxTemp">13</span><span>&#176;</span></h2></div>
            <div class="col"><h2><span id="day2MinTemp">13</span><span>&#176;</span> / <span id="day2MaxTemp">13</span><span>&#176;</span></h2></div>
            <div class="col"><h2><span id="day3MinTemp">13</span><span>&#176;</span> / <span id="day3MaxTemp">13</span><span>&#176;</span></h2></div>
            <div class="col"><h2><span id="day4MinTemp">13</span><span>&#176;</span> / <span id="day4MaxTemp">13</span><span>&#176;</span></h2></div>
            <div class="col"><h2><span id="day5MinTemp">13</span><span>&#176;</span> / <span id="day5MaxTemp">13</span><span>&#176;</span></h2></div>
        </div>

        <div class="row">
            <div class="col-3">Odczuwalna: <span id="feelsLike">15</span><span>&#176;</span></div>
            <div class="col capitalize"><span id="day1WeatherMain">Lekki deszcz</span></div>
            <div class="col capitalize"><span id="day2WeatherMain">Lekki deszcz</span></div>
            <div class="col capitalize"><span id="day3WeatherMain">Lekki deszcz</span></div>
            <div class="col capitalize"><span id="day4WeatherMain">Lekki deszcz</span></div>
            <div class="col capitalize"><span id="day5WeatherMain">Lekki deszcz</span></div>
        </div>

        <div class="row">
            <div class="col-3">Stan powietrza: <span id="airQuality"></span></div>
            <div class="col"><i class="wi wi-raindrop raindrop"></i> <span id="day1RainChance">30</span> %</div>
            <div class="col"><i class="wi wi-raindrop raindrop"></i> <span id="day2RainChance">30</span> %</div>
            <div class="col"><i class="wi wi-raindrop raindrop"></i> <span id="day3RainChance">30</span> %</div>
            <div class="col"><i class="wi wi-raindrop raindrop"></i> <span id="day4RainChance">30</span> %</div>
            <div class="col"><i class="wi wi-raindrop raindrop"></i> <span id="day5RainChance">30</span> %</div>
        </div>
    </div>

</body>

</html>